/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* OWN STUFF */

:root {
  --ms-blue: #1f74bd;
}

body {
  color: #454545;
  background-color: #e6e6e6;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.header {
  color: var(--ms-blue);
  font-size: 9em;
  margin-bottom: 0.1em;
}

.url-input {
  width: 45em;
  height: 3em;
  padding: 0.5em 0.5em;
  border: 1px solid var(--ms-blue);
  border-radius: 15px;
}
.url-input:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  margin: 1em;
  font-size: 3em;
  border-radius: 10px;
  padding: 0 0.5em;
}

.linkbtn {
  cursor: pointer;
  font-size: 3em;

  text-decoration: none;

  background-color: #efefef;
  border: 1px solid var(--ms-blue);
  border-radius: 10px;
  padding: 0 0.5em;
}

#load-btn {
  color: var(--ms-blue);
  border: 1px solid var(--ms-blue);
}

#load-btn:disabled {
  cursor: not-allowed;
}

#dl-btn {
  color: green;
  display: none;

  transition: ease-in;
}

#dl-btn.shown {
  display: flex;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .header {
    font-size: 5em;
  }

  .url-input {
    width: 30em;
  }

  .btn {
    margin: 0.5em;
    font-size: 2.5em;
  }

  .linkbtn {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 576px) {
  .header {
    font-size: 3em;
  }

  .url-input {
    width: 20em;
  }

  .btn {
    font-size: 2em;
  }

  .linkbtn {
    font-size: 1.8em;
  }
}
